# fastapi==0.115.0
# uvicorn[standard]==0.30.6
# google-cloud-speech==2.27.0
# supabase==2.6.0
# python-dotenv==1.0.1

fastapi==0.115.0
uvicorn[standard]==0.30.6
watchfiles==0.24.0

# Google STT
google-cloud-speech==2.27.0

# Supabase SDK (DB only)
supabase==2.6.0
websockets==12.0           # compatible with supabase realtime deps

# HTTP + env
httpx==0.27.2              # compatible with supabase deps
python-dotenv==1.0.1
